Temp/
UserSettings/
Library/
Logs/
obj/
Build/
.vs/
.vsconfig
*.csproj
*.sln
/.utmp
*.zip
RuntimeActionBindings.json
RuntimeActionBindings.json.meta
ProjectSettings\Packages\com.unity.testtools.codecoverage\Settings.json
PerformanceTestRun*.*
StreamingAssets*
!NativeSamples.zip
base.apk
Assets/Resources/secrets/
.vscode/
mono_crash.mem*.blob
ARduino Lab_BurstDebugInformation_DoNotShip/
passthroughcamera_BurstDebugInformation_DoNotShip/


